.resto{
    text-align: center;

    .header{
        text-transform: uppercase;
        word-spacing: 10px;
        &::first-letter{
            color: tomato;
        }
    }
    input[type='text']{
        margin-top: 15px;
        font-size: 1.2rem;
        border: none;
        background: rgba(57, 47, 79, 0.267);
        color: rgb(255, 255, 255);
        padding: 0.2rem;
        border-radius: 5px;
        outline: 2px solid lightblue;
    }
    .list_container{

        border: 1px solid rgb(255, 160, 71);
        justify-content: center;
        flex: 1 0 20%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 15;
        overflow: hidden;
        padding: 1rem;
        margin: 0 0 15px 30px;
        border-radius: 5px;
        text-align: center;
        li{
            list-style: none;
            font-weight: 700;
            font-size: 1.2rem;
            color: rgb(160, 29, 29);
        }
    }
    em{
        color: green;
    }
    h3{
        color: rgb(18, 147, 170);
        margin: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    }
    a{
        text-decoration: none;
        font-size: .8rem;
        background: darkgoldenrod;
        h1{
            color: white;
            background: darkgoldenrod;
            border-radius: 5px;
            &:hover{
                background: lightcoral;
            }
        }
    }
    img{
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 1px 0 4px 0 rgb(38, 107, 101);
        width: 90%;
        // height: 160px;
        object-fit: cover;
    }
    i{
        font-size: 1.2rem;
        line-height: 35px;
        color: red;
    
    }
    width: 85%;
    margin: 0 auto;
    ul{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: 0 1px 1px 2px  rgb(39, 76, 90);
        background: rgba(84, 146, 148, 0.178);
        padding: 2rem;
        border-radius: 5px;
        
     
    }
}